<h1><%= article.title %></h1>

<div class="well">
  <p><%= article.body %></p>
</div>

<p>Use this form to edit the article</p>
<form method="POST" action="/articles" id="put-form">
  <label for="articleTitle">Title</label>
  <input type="text" name="title">
  <label for="articleBody">Body</label>
  <input type="text" name="body">
  <input type="button" value="Update">
</form>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script>
  $('[type=button]').on('click', function(e) {
    e.preventDefault();
    var updateUrl = $(this).parent().attr('action');
    var articleData = $(this).parent().serialize();
    $.ajax({
      method: 'PUT',
      url: updateUrl,
      data: articleData
    }).done(function(data) {
      // get data returned from the PUT route
      console.log(data);
    });
  });
</script>